
<!-- used this to refer to parent object -->
<div class="comments box is-warning-light">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{owner.user_name}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>