
<!-- used this to refer to parent object -->
<div class="comments">
  {{#each this}}
  <div class="comment has-background-warning-light">
    <div class="text has-text-weight-medium">
      {{comment_text}}
    </div>
    <div class="meta">
      {{owner.user_name}} on {{created_at}}
    </div>
  {{/each}}
</div>