<!-- Calendar Page -->
<section class="section has-background-info-light">
    <h1 class="title is-2 has-text-centered">Events</h1>
    <div class="box ">
    <div class="container events-form">
        <!-- Add URL LINK TO EVENT FORM IN THE A HREF"  -->
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1LwYcYxxOzJRYvxczqK9A6pHKA2mwttdFjQehmrHHHu2y0A/viewform" class=" button is-warning">
            <strong>Create Event</strong>
        </a>
    </div>
    <br>
    <figure class="image is-16by9">
        <iframe class="has-ratio" width="640" height="360" src="https://calendar.google.com/calendar/embed?src=barkrmeetup%40gmail.com&ctz=America%2FChicago" frameborder="0" allowfullscreen>
        </iframe>
    </figure>
    </div>
</section>