<!-- MODULE VERSION OF LOGIN FORM
<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form> -->


<section class="section is-small">
<div class="columns box mx-6 pt-6 mt-6 has-background-link-light">
    <div class="column is-half ">
    <div class="card">
    <div class="card-image">
      <figure class="image is-256x256">
        <img src="/images/pexels-samson-katt-5255249.jpg" alt="Lady With Dog">
      </figure>
    </div>
    </div>
    </div>

    <div class="column">
    <div class="card has-background-warning">
    <div class="card-content">
      <div class="content">
        <p>
          <strong class="title is-1">Barkr</strong>
          <br class="subtitle is-2">
        A Social Network For Dog Owners &amp; Lovers!
        </p>
      </div>
    <div class="column box has-background-warning-light mx-3">
    <h2 class="title is-3">Log In</h2>
    <form method="POST" class="login-form">
    <div class="field">
        <label class="label email-login">Email</label>
        <div class="control">
        <input class="input" type="email" id="email-login" placeholder="e.g. julit@gmail.com">
        </div>
    </div>

    <div class="field">
        <label class="label password-login">Password</label>
        <div class="control">
        <input class="input" type="password" id="password-login" placeholder="********">
        </div>
    </div>
    <input class="button is-info has-text-warning" type="submit" value="Log In">
    </div>
    </form>
    <!-- BULMA VERSION OF SIGN-UP FORM-->
    <div class="column has-background-warning-light box mx-3">
    <h2 class="title is-3">Sign Up</h2>
    <form method="POST" class="signup-form">
      <div class="field">
        <label class="label owner-signup">Name</label>
        <div class="control">
        <input class="input" type="name" id="owner-signup" placeholder="e.g. Juli Tuck aka The Dogmom">
        </div>
      </div>
      <div class="field"> 
        <label class="label username-signup">Dog Name</label>
        <div class="control">
        <input class="input" type="dog-name" id="dogname-signup" placeholder="e.g. Elton John">
        </div>
      </div>
      <div class="field">
        <label class="label">Dog Breed</label>
        <div class="control">
          <input class="input" id="dogbreed-signup" type="dog_breed" placeholder="e.g. French Bulldog">
        </div>
      </div>
        <div class="field">
            <label class="label">Dog Size</label>
            <div class="control">
                <div class="select">
                <select id="dogsize-signup">
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                </select>
                </div>
            </div>
        </div>
       <!-- <div class="field">
          <label class="label">Location</label>
          <div class="control">
              <input class="input" id="location-signup" type="location" placeholder="e.g. Houston,TX">
          </div>
        </div> -->
        <div class="field">
            <label class="label">Bio</label>
            <div class="control">
                <textarea class="textarea" id="dogdescription-signup" type="bio" placeholder="My fur baby, Elton John and I love long walks on the beach, outings at the movies and live concerts."></textarea>
            </div>
        </div>
        <div class="field">
          <label class="label username-signup">Username</label>
          <div class="control">
          <input class="input" type="username" id="username-signup" placeholder="e.g. ilovedogs80">
          </div>
        </div>
        <div class="field ">
          <label class="label email-signup">Email</label>
          <div class="control">
          <input class="input" type="email" id="email-signup" placeholder="e.g. julit@gmail.com">
          </div>
        </div>
        <div class="field">
          <label class="label password-signup">Password</label>
          <div class="control">
          <input class="input" type="password" id="password-signup" placeholder="********">
          </div>
     </div>
    <input class="button is-info has-text-warning" type="submit" value="Sign Up">
    </form>
    </div>
    </div>
    </div>
    </div>
</div>
</section>


<!-- SCRIPT CONNECTS TO LOGIN PAGE JAVASCRIPT -->
<script src="/javascript/login.js"></script>