<!-- MODULE VERSION OF LOGIN FORM
<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form> -->

<div class="columns is-mobile">
<!-- BULMA VERSION OF LOGIN FORM-->
    <div class="column login-form">
    <div class="field">
        <label class="label email-login">Email</label>
        <div class="control">
        <input class="input" type="email" id="email-login" placeholder="e.g. julit@gmail.com">
        </div>
    </div>

    <div class="field">
        <label class="label password-login">Password</label>
        <div class="control">
        <input class="input" type="password" id="password-login" placeholder="********">
        </div>
    </div>

    <input class="button is-primary" type="submit" value="Log In">
    </div>

    <!-- BULMA VERSION OF SIGN-UP FORM-->
    <div class="column signup-form">
    <div class="field">
        <label class="label username-signup">Username</label>
        <div class="control">
        <input class="input" type="username" id="username-signup" placeholder="e.g. ilovedogs80">
        </div>
    </div>

    <div class="field ">
        <label class="label email-signup">Email</label>
        <div class="control">
        <input class="input" type="email" id="email-signup" placeholder="e.g. julit@gmail.com">
        </div>
    </div>

    <div class="field">
        <label class="label password-signup">Password</label>
        <div class="control">
        <input class="input" type="password" id="password-signup" placeholder="********">
        </div>
    </div>

    <input class="button is-primary" type="submit" value="Sign Up">
    </div>
  </div>

<!-- SCRIPT CONNECTS TO LOGIN PAGE JAVASCRIPT -->
  <script src="../public/javascript/login.js"></script>