<!--NOT USING MODAL ANY MORE
<div class="modal">
  <div class="modal-background has-background-grey-light"></div>
  <div class="modal-card has-background-info">
    <header class="modal-card-head">
      <p class="modal-card-title title is-2">Let's Build Your Barkr Profile</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form method="POST" id="dog-form">
      <div class="field">
            <label class="label"> Dog Name</label>
            <div class="control">
                <input class="input" id="dog-name" type="dog_name" placeholder="e.g Elton John">
            </div>
        </div>

        <div class="field">
            <label class="label">Dog Breed</label>
            <div class="control">
                <input class="input" id="dog-breed" type="dog_breed" placeholder="e.g. French Bulldog">
            </div>
        </div>
        <div class="field">
            <label class="label">Dog Size</label>
            <div class="control">
                <div class="select">
                <select id="dog-size">
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Location</label>
            <div class="control">
                <input class="input" id="location" type="location" placeholder="e.g. Houston,TX">
            </div>
        </div>
        <div class="field">
            <label class="label">Bio</label>
            <div class="control">
                <textarea class="textarea" id="dog-description" type="bio" placeholder="My fur baby, Elton John and I love long walks on the beach, outings at the movies and live concerts."></textarea>
            </div>
        </div>
        </form>  
    </section>
    <footer class="modal-card-foot">
      <button class="button is-warning submit-dog-info has-background-warning-light has-text-black">Submit</button>
    </footer>
  </div>
</div>

<script> src="/javascript/modal.js"</script> -->