<!-- Single-Post Info Partial -->
{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="textarea is-info" name="comment-body"></textarea>
  </div>

  <div>
    <button type="button" class="upvote-btn button is-warning">Vote</button>
    <button class="button is-info" type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}